.requests-history-section,
.create-request-section {
  height: 50%;
  width: 100%;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.history-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
}

.pending-requests,
.requests-history {
  height: calc(
    100% - 36px - 25px
  ); /* 36px (12px padding-top + 12px padding-bottom + 12px gap) 25px (h3 height) */
  width: 100%;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.requests-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}
