.requests-history-section,
.create-request-section {
  height: 50%;
  width: 100%;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.requests-history-section h1,
.create-request-section h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  margin: 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
  text-align: center;
}

.history-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
}

.pending-requests,
.requests-history {
  height: calc(
    100% - 36px - 25px
  ); /* 36px (12px padding-top + 12px padding-bottom + 12px gap) 25px (h3 height) */
  width: 100%;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.pending-requests h3,
.requests-history h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
  margin: 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
  text-align: center;
}

.requests-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.requests-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}

.request-type-switch {
  width: 400px;
  padding: 12px;
  background-color: var(--bg);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-md);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.request-type-switch p {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  padding: 8px;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  transition: var(--transition-fluid);
}

.request-type-switch p:hover {
  background-color: var(--border);
}

.request-type-switch .selected,
.request-type-switch .selected:hover {
  background-color: var(--primary);
  color: var(--bg);
}

.request-date-title {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.request-date-container,
.request-time-container {
  display: flex;
  gap: 24px;
}

.request-date-picker,
.request-time-picker {
  padding: 12px;
  font-size: 16px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.request-date-picker:focus,
.request-time-picker:focus {
  box-shadow: var(--shadow-md);
  outline: none;
}

.request-form-button {
  margin-top: auto;
  width: 300px;
  padding: 12px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  background-color: var(--primary);
  font-size: 20px;
  color: var(--bg);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition-fluid);
}

.request-form-button:hover {
  box-shadow: var(--shadow-lg);
}

.request-form-button * {
  color: var(--bg);
}

#request-notes {
  padding: 12px;
  font-size: 16px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  resize: none;
  transition: var(--transition-fluid);
}

#request-notes:focus {
  outline: none;
  box-shadow: var(--shadow-md);
}