.dashboard-right-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.dashboard-welcome-message {
  font-size: 32px;
  font-weight: 500;
}

.dashboard-welcome-message.user-email {
  font-size: 36px;
  font-weight: 700;
}
