@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap");

/** VARIABLES */
:root {
  /** COLORS */
  --bg: rgba(255, 252, 255, 1);
  --text: rgba(49, 53, 51, 1);
  --text-secondary: rgba(98, 106, 102, 1);
  --primary: rgba(11, 153, 96, 1);
  --secondary: rgba(255, 154, 92, 1);
  --tertiary: rgba(255, 154, 92, 1);
  --logo-orange: rgba(252, 220, 188, 1);
  --logo-green: rgba(151, 191, 12, 1);

  /** SEMANTIC COLORS */
  --danger: rgba(202, 22, 49, 1);

  /** FONT */
  --open-sans: "Open Sans", system-ui;
  --major-mono: "Major Mono Display", system-ui;

  /** BORDER RADIUS  */
  --border-radius-s: 12px;
  --border-radius-m: 16px;
  --border-radius-l: 20px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 32px;

  /** SHADOWS */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /** TRANSITIONS */
  --transition-fast: all 0.15s ease-out;
  --transition-smooth: all 0.2s ease-in-out;
  --transition-slow: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--open-sans);
  color: var(--text);
  user-select: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes buttonClick {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
